<h1>Use the ticker to search the Intrinio API</h1>


<form class="" action="/company" method="GET">
  <input type="text" name="search" value="AAPL" placeholder="Ticker">
  <input type="text" name="search" value="low_price" placeholder="Data from Intrinio API">
  <input type="submit">
</form>


<a href="/index"> Go to the index </a>
